@using DataBase.Models
@model IEnumerable<InventoryItem>

@{
    var u = new InventoryItem();
    ViewBag.Title = "Fridge:";
    Layout = "_Layout";
}

<h2>Fridge:</h2>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Size)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Item.Name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Size)
                </td>
                <td>
                    <a asp-controller="Item" asp-action="Edit" asp-route-id="@item.ItemId">Edit</a> |
                    <a asp-controller="Item" asp-action="Details" asp-route-id="@item.ItemId">Details</a> |
                    <a asp-controller="Item" asp-action="Delete" asp-route-id="@item.ItemId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>